.recipes {
    padding: 0.7em;
    background-color: white;

    border-radius: 3px;
    
}

.header {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr 1fr;

    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 6px;
}


.type {
    justify-self: center;
}