.trash:hover {
    cursor: pointer;
}


.recipe {
    display: grid;
    grid-template-columns: 4fr 4fr 1fr 1fr;

    margin-top: 1em;
}

.type {
    justify-self: center;
}

.income {
    color: green;
}

.expense {
    color: #E61c3b;
}

.description::first-letter {
    text-transform: capitalize;
}