
.main {
    background-color: rgb(236, 233, 233);
    height: 100vh;
}

.datas {
    display: flex;
    justify-content: center;

    margin-top: 1em;
}

.components {
    display: flex;
    flex-direction: column;

    gap: 1em;
}